<section>
  <div class="wrapper">
    <h3>What my colleagues say about me</h3>
    <img class="quotes" src="img/quotes.png" alt="" />
    <div class="scrollContainer" #scrollContainer>
      @for (singleReference of references; track $index; let referenceIndex = $index) {
      <div class="singleReference"  #singleReference [class.active]="referenceIndex === activeIndex">
        <p>{{ singleReference.text }}</p>
        <span>{{ singleReference.author }}</span>
      </div>
      }
    </div>
    <div class="arrowsContainer">
      <div class="leftArrow" (click)="previousReference()"></div>

      <div class="dotsContainer">
        @for (singleReference of references; track $index) {
        <img src="img/dotWhite.png" alt="" />
        }
      </div>

      <div class="rightArrow" (click)="nextReference()"></div>
    </div>
  </div>
</section>
