header {
    height: 98px;
    background: linear-gradient(173deg, rgb(28, 28, 28), rgb(28, 28, 28), rgb(8, 70, 59));
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 950px) {
        height: 80px;
        background: none;
        min-width: 100%;
        padding: 0% 5%;
        position: absolute;
        z-index: 1001;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-width: 450px) {
        height: 50px;
    }

    nav {
        width: 100%;
        max-width: 1440px;
        padding: 0px 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 950px) {
            display: none;
        }

        .navLeft {
            display: flex;
            align-items: center;
            gap: 24px;

            .switchLanguageDefault {
                height: 28px;
                width: 84px;
                background-image: url(./../../../public/img/englishDefault.png);
                transition: all 150ms ease-in-out;
                
                @media((hover: hover) and (pointer: fine)) {
                    &:Hover {
                        cursor: pointer;
                        background-image: url(./../../../public/img/englishHover.png);
                    }
                }
                
            }

            .switchLanguageGerman {
                height: 28px;
                width: 84px;
                background-image: url(./../../../public/img/germanDefault.png);
                transition: all 150ms ease-in-out;

                @media((hover: hover) and (pointer: fine)) {
                    &:Hover {
                        cursor: pointer;
                        background-image: url(./../../../public/img/germanHover.png);
                    }
                }
                
            }

            a {
                color: white;
                text-decoration: none;
                font-family: 'Fira Code';
                font-size: 20px;
                font-weight: 400;
                position: relative;
                transition: all 300ms ease-in-out;

                .dot {
                    width: 8px;
                    height: 8px;
                    background-image: url('./../../../public/img/dotAqua.png');
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 28px;
                    opacity: 0;
                    transition: all 300ms ease-in-out;
                }

                @media((hover: hover) and (pointer: fine)) {
                    &:hover {
                        color: rgba(61, 207, 182, 1);
    
                        .dot{
                            opacity: 1;
                        }
                    }
                }
                
            }
        }

        .navRight {
            width: 150px;
            height: 90px;
            // display: flex;
            // align-items: center;
            // gap: 4px;
            background-image: url('./../../../public/img/logoMio6Big.png');
            background-position: center;
            background-size: cover;

            // .logo {
                
            //     width: 100%;
            //     height: 100%;
            // }

            // .logoText {
            //     display: flex;
            //     flex-direction: column;


            //     .logo {
            //         height: 36px;
            //         width: 24px;
            //     }

            //     span {
            //         color: white;
            //         font-family: 'Fira Code';
            //         font-weight: bolder;
            //         font-size: 24px;
            //         line-height: 26px;
            //     }
            // }
        }


    }

    // RESPONSIVE

    .responsiveLayout {
        display: none;

        @media(max-width:950px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            height: 70px;
            @media (max-width: 450px) {
                height: 50px;
            }
        }

        .menuIcon {
            height: 30px;
            @media (max-width: 450px) {
                height: 20px;
            }

            &:hover{
                cursor: pointer;
            }
        }

        app-dropdown-menu {
            position: absolute;
            right: 5%;
            top: 100%;
        }
    }
}

