<header>
  <nav>
    <div class="navLeft">
      <div [ngClass]="language === 'english' ? 'switchLanguageDefault' : 'switchLanguageGerman' " (click)="switchLanguage()"></div>
      <a href="#aboutMe"><div class="dot"></div>About me</a>
      <a href="#skills"><div class="dot"></div>Skills</a>
      <a href="#portfolio"><div class="dot"></div>Projects</a>
    </div>

    <div class="navRight">
      <img class="logo" src="img/logo.png" alt="" />
      <div class="logoText">
        <span>Marco</span>
        <span>Lapiello</span>
      </div>
    </div>
  </nav>
</header>
