<header id="header">
  <nav>
    <div class="navLeft">
      <div [ngClass]="currentLanguage === 'en' ? 'switchLanguageDefault' : 'switchLanguageGerman' " (click)="switchLanguage()"></div>
      <a href="#aboutMe"><div class="dot"></div>{{ 'NAV.ABOUT_ME' | translate }}</a>
      <a href="#skills"><div class="dot"></div>{{ 'NAV.SKILLS' | translate }}</a>
      <a href="#portfolio"><div class="dot"></div>{{ 'NAV.PROJECTS' | translate }}</a>
    </div>

    <div class="navRight">
      <img class="logo" src="img/logo.png" alt="" />
      <div class="logoText">
        <span>Marco</span>
        <span>Lapiello</span>
      </div>
    </div>
  </nav>

  <div class="responsiveLayout">
    <img class="logo" src="img/logo.png" alt="" />
    <img (click)="openCloseModal()" class="menuIcon" src="img/hamburgerMenu.png" alt="">
    @if (showModal === true) {
      <app-dropdown-menu (close)="closeModal()"></app-dropdown-menu>
    }
  </div>
</header>
