<footer>
  <div class="wrapper">
    <div class="footerLeft">
      <div [routerLink] = "['']" (click)="scrollToSection('header')" class="logoContainer">
        <img class="logo" src="img/logo.png" alt="" />
        <div class="logoText">
          <span>Marco</span>
          <span>Lapiello</span>
        </div>
      </div>
      <div class="spanContainer">
        <span>{{ 'FOOTER.DEVELOPER' | translate }}</span>
        <span>{{ 'FOOTER.LOCATION' | translate }}</span>
      </div>
    </div>

    <span class="name">© Marco Lapiello 2024</span>

    <nav>
      <a (click)="linkToGitHub()"><div class="dot"></div>GitHub</a>
      <a (click)="linkToLinkedIn()"><div class="dot"></div>LinkedIn</a>
      <a (click)="sendEmail()"><div class="dot"></div>Email</a>
      <a [routerLink] = "['/legalNotice']" (click)="scrollToSection('header')"><div class="dot"></div>{{ 'FOOTER.LINKS.PRIVACY_NOTICE' | translate }}</a>
      <a [routerLink] = "['/imprint']" (click)="scrollToSection('header')"><div class="dot"></div>{{ 'FOOTER.LINKS.IMPRINT' | translate }}</a>
    </nav>
  </div>
</footer>
