footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0px 96px;
        padding-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media(max-width:1400px) {
            padding: 0% 5%;
            padding-bottom: 25px;
        }

        @media(max-width:750px) {
            height: calc(180px + 25px);
            align-items: flex-start;
        }

        .footerLeft {
            display: flex;
            flex-direction: column;
            gap: 16px;



            .logoContainer {
                width: 150px;
                height: 90px;
                display: flex;
                align-items: center;
                
                border-radius: 12px;
                background-image: url('./../../../public/img/logoMio6Big.png');
                background-position: center;
                background-size: cover;
                transition: all 125ms ease-in;

                @media((hover: hover) and (pointer: fine)) {
                    &:hover {
                        cursor: pointer;
                        border: 1px solid white;
    
                    }
                }

                .logoText {
                    display: flex;
                    flex-direction: column;


                    .logo {
                        height: 36px;
                        width: 24px;
                    }

                    span {
                        color: white;
                        font-family: 'Fira Code';
                        font-weight: bolder;
                        font-size: 24px;
                        line-height: 26px;
                    }
                }
            }

            .spanContainer {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    color: white;
                    font-family: 'Karla';
                    font-size: 16px;
                    font-weight: 400;

                    @media(max-width:400px) {
                        font-size: 14px;
                    }
                }
            }

        }

        .name {
            color: rgba(61, 207, 182, 1);
            font-family: 'Fira Code';
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width:750px) {
                width: 100%;
                top: 78%;
                text-align: center;
            }

        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media(max-width:750px) {
                padding: 0;
            }

            a {
                text-decoration: none;
                color: white;
                font-family: 'Karla';
                font-size: 16px;
                font-weight: 400;
                position: relative;
                transition: all 300ms ease-in-out;

                @media(max-width:400px) {
                    font-size: 14px;
                }

                .dot {
                    width: 8px;
                    height: 8px;
                    background-image: url('./../../../public/img/dotAqua.png');
                    position: absolute;
                    left: -14px;
                    top: 5px;
                    opacity: 0;
                    transition: all 300ms ease-in-out;
                }

                @media((hover: hover) and (pointer: fine)) {
                    &:hover {
                        cursor: pointer;
                        color: rgba(61, 207, 182, 1);

                        .dot {
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}