<section id="aboutMe">
  <div class="aboutMeWrapper">
    <div class="fotoHolder">
      <img class="fotoDecoration" src="img/fotoDecoration.png" alt="" />
      <img class="foto" src="img/placeHolderFoto.png" alt="" />
    </div>

    <div class="aboutHolder">
      <span>Who I Am</span>
      <div class="aboutTextHolder">
        <h2>About me</h2>
        <p>
          Hi, I’m a german speaking Frontend Developer based in Munich.
          Motivated by the limitless opportunities within IT, I am excited about
          crafting visually captivating and intuitive websites and applications.
        </p>
        <div class="listContainer">
          <img src="img/locationIcon-About.png" alt="" />
          <span
            >Flexible in terms of working environments, I can work effectively
            both on-site in Munich and remotely.</span
          >
        </div>
        <div class="listContainer">
          <img src="img/openMindedIcon-About.png" alt="" />
          <span
            >I am open-minded and always looking for personal challenges to
            constantly improve my knowledge and skills.</span
          >
        </div>
        <div class="listContainer">
          <img src="img/checkIcon-About.png" alt="" />
          <span
            >In my profession, programming isn't just about writing code; it's a
            creative form of problem-solving. I take pride in my ability to
            distill complex technical challenges into simple, user-friendly
            solutions. This way, I help you achieve your goals and bring your
            visions to life.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
