section {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 144px 96px;
        display: flex;
        gap: 64px;

        @media(max-width:1400px) {
            padding: 100px 5%;
        }

        @media(max-width:1000px) {
            flex-direction: column;
        }

        .contactMeText {
            width: 568px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media(max-width:650px) {
                width: 100%;
            }

            .highlineContainer {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h4 {
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Karla';
                    font-weight: 500;
                    font-size: 24px;

                    @media(max-width:650px) {
                        font-size: 18px;
                    }
                }

                h2 {
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 64px;

                    @media(max-width:650px) {
                        font-size: 56px;
                    }

                    @media(max-width:390px) {
                        font-size: 48px;
                    }
                }
            }

            .callToAction {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h3 {
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 24px;

                    @media(max-width:650px) {
                        font-size: 20px;
                    }
                }

                p {
                    color: white;
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 16px;
                }

                span {
                    width: 456px;
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Karla';
                    font-weight: 700;
                    font-size: 16px;
                }
            }


        }

        .contactFormContainer {
            width: 616px;
            border-top: 1px solid rgba(61, 207, 182, 1);
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media(max-width:1000px) {
                width: 100%;
            }

            .inputDiv {
                padding: 32px 32px 16px 32px;
                border-bottom: 1px solid rgba(61, 207, 182, 1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
                position: relative;

                h4 {
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Fira Code';
                    font-weight: 500;
                    font-size: 24px;

                    @media(max-width:650px) {
                        font-size: 20px;
                    }
                }

                .inputErrorWrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    input {
                        color: rgba(255, 255, 255, 0.8);
                        font-family: 'Karla';
                        font-weight: 400;
                        font-size: 18px;
                        background-color: rgb(28, 28, 28);
                        border: none;
                        outline: none;

                        @media(max-width:650px) {
                            font-size: 16px;
                        }

                        &::placeholder {
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }


                    .errorContainer {
                        height: 14px;
                        display: flex;

                        @media(max-width:650px) {
                            top: 104px;
                        }

                        span {
                            color: rgba(236, 123, 123, 0.8);
                            font-family: 'Fira Code';
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }

            .submitContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                position: relative;

                @media(max-width:1354px) {
                    gap: 80px;
                }

                .privPolicyContainer {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;

                    .checkMark {
                        min-width: 24px;
                        height: 24px;
                        background-image: url('./../../../../public/img/checkMarkOutline.png');

                        @media(hover: hover) {
                            &:hover {
                                cursor: pointer;
                                background-image: url('./../../../../public/img/checkMarkOutlineHover.png');
                            }
                        }

                    }

                    .checked {
                        background-image: url('./../../../../public/img/CheckMarkChecked.png');

                        @media(hover: hover) {
                            &:hover {
                                cursor: pointer;
                                background-image: url('./../../../../public/img/checkMarkCheckedHover.png');
                            }
                        }

                    }

                    p {
                        color: white;
                        font-family: 'Karla';
                        font-weight: 400;
                        font-size: 15px;
                    }

                    .privPolicyLink {
                        width: 456px;
                        color: rgba(61, 207, 182, 1);
                        font-family: 'Fira Code';
                        font-weight: 400;
                        font-size: 15px;

                        @media (hover: hover){
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }

                    .errorPrivPolicy {
                        height: 14px;
                        display: flex;
                        position: absolute;
                        top: 30px;

                        @media(max-width:1354px) {
                            top: 50px;
                        }

                        @media(max-width:680px) {
                            top: 60px;
                        }

                        span {
                            color: rgba(236, 123, 123, 0.8);
                            font-family: 'Fira Code';
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }

            }
        }
    }
}

.confirmation {
    height: 48px;
    padding: 0px 24px;
    color: white;
    font-family: "Karla";
    font-weight: 400;
    font-size: 18;
    background: rgba(61, 207, 182, 0.3);
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

