<section id="contactMe">
  <div class="wrapper">
    <div class="contactMeText">
      <div class="highlineContainer">
        <h4>{{ 'CONTACT_ME.TITLE' | translate }}</h4>
        <h2>{{ 'CONTACT_ME.SUBTITLE' | translate }}</h2>
      </div>
      <div class="callToAction">
        <h3>{{ 'CONTACT_ME.QUESTION' | translate }}</h3>
        <p>
          {{ 'CONTACT_ME.INTRO' | translate }}
        </p>
        <p>{{ 'CONTACT_ME.NEED_DEV' | translate }} <span>{{ 'CONTACT_ME.LETS_TALK' | translate }}</span></p>
      </div>
    </div>

    <form
      (ngSubmit)="onSubmit(contactForm)"
      class="contactFormContainer"
      #contactForm="ngForm"
      #formElement
    >
      <div class="inputsWrapper">
        <div class="inputDiv">
          <h4>{{ 'CONTACT_ME.NAME_LABEL' | translate }}</h4>
          <div class="inputErrorWrapper">
            <input
              #name="ngModel"
              minlength="2"
              [(ngModel)]="contactData.name"
              id="name"
              name="name"
              type="text"
              placeholder="{{'CONTACT_ME.PLACEHOLDER_NAME' | translate}}"
              required
            />
            <div class="errorContainer">
              @if (!name.valid && (name.dirty || formSubmitted)) {
              <span>{{ 'CONTACT_ME.ERROR_NAME' | translate }}</span>
              }
            </div>
          </div>
        </div>
        <div class="inputDiv">
          <h4>{{ 'CONTACT_ME.EMAIL_LABEL' | translate }}</h4>
          <div class="inputErrorWrapper">
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              id="email"
              name="email"
              type="email"
              placeholder="{{'CONTACT_ME.PLACEHOLDER_EMAIL' | translate}}"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
            <div class="errorContainer">
              @if (!email.valid && (email.dirty || formSubmitted)) {
              <span>{{ 'CONTACT_ME.ERROR_EMAIL' | translate }}</span>
              }
            </div>
          </div>
        </div>
        <div class="inputDiv">
          <h4>{{ 'CONTACT_ME.MESSAGE_LABEL' | translate }}</h4>
          <div class="inputErrorWrapper">
            <input
              #message="ngModel"
              minlength="5"
              [(ngModel)]="contactData.message"
              id="message"
              name="message"
              type="text"
              placeholder="{{'CONTACT_ME.PLACEHOLDER_MESSAGE' | translate}}"
              required
            />
            <div class="errorContainer">
              @if (!message.valid && (message.dirty || formSubmitted)) {
              <span>{{ 'CONTACT_ME.ERROR_MESSAGE' | translate }}</span>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="submitContainer">
        <div class="privPolicyContainer">
          <div
            class="checkMark"
            [ngClass]="isChecked ? 'checked' : ''"
            (click)="checkUncheck()"
          ></div>

          <div class="textWrapper">
            <p>
              {{ 'CONTACT_ME.I_HAVE_READ' | translate }}
              <span [routerLink]="['/legalNotice']" class="privPolicyLink"
                > {{ 'CONTACT_ME.PRIVACY_POLICY' | translate }}</span
              >
              {{ 'CONTACT_ME.AND_AGREE' | translate }}
            </p>
            <div class="errorPrivPolicy">
              @if (!isChecked && showPrivacyPolicyError) {
              <span>{{ 'CONTACT_ME.PRIVACY_POLICY_ERROR' | translate }}</span>
              }
            </div>
          </div>
          
        </div>

        
        @if (formSentConfirmation) {
          
          <div class="confirmation"><span>{{ 'CONTACT_ME.CONFIRMATION' | translate }}</span></div>
            
        } @else {
          <button>
            <div>{{ 'CONTACT_ME.BUTTON' | translate }}</div>
          </button>
          
        }
        
      </div>
    </form>
  </div>
</section>
