<section>
  <div class="heroWrapper">
        <span>Frontend Developer</span>
        <h1>Marco Lapiello</h1>
        <div class="callToAction">
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
        <div class="decor">
            <div class="decorLeft">
                <div class="animatedArrow">
                <img src="img/whiteArrowPointingDown.png" alt="" />
                </div>

                <div class="vectorLeft"></div>
            </div>

            <div class="decorRight">
                <p>marcolapiello&#64;gmail.com</p>
                <div class="logos">
                <div class="gitLogo">
                    <div class="dot"></div>
                </div>
                <div class="linkedInLogo">
                    <div class="dot"></div>
                </div>
                </div>
                <div class="vectorRight"></div>
            </div>
        </div>
  </div>
</section>
