<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-content" mat-dialog-content>
  <div class="contentWrapper">
    <div class="project-details">
      <div class="title">
        <span class="projectNr">0{{ projectId }}</span>
        <h2>{{ project!.title }}</h2>
      </div>
  
      <div class="description">
        <h3>{{ 'PORTFOLIO.MODAL.PROJECT_ABOUT' | translate }}</h3>
        <p>{{ description }}</p>
        <div class="technologies">
          @for (technology of project?.technologies; track $index) {
            <mat-chip>
              <img matChipAvatar [src]="project!.techIconsPaths[$index]" [alt]="technology" />
              {{ technology }}
            </mat-chip>
          }
        </div>
      </div>
  
      <div class="linksButtonContainer">
        <button mat-raised-button color="primary" (click)="openGitHubRepo()">
          <span>GitHub</span>
          <mat-icon>open_in_new</mat-icon>
        </button>
        @if (projektLinkState === 'live') {
          <button mat-raised-button color="primary" (click)="openLiveTest()">
            <span>Live Test</span>
            <mat-icon>open_in_new</mat-icon>
          </button>
        } @else {
          <button mat-raised-button disabled>
            <span>Coming soon</span>
            <mat-icon>hourglass_empty</mat-icon>
          </button>
        }
      </div>
    </div>
    
    <mat-card class="project-image-card">
      <img mat-card-image [src]="project!.modalImgPath" [alt]="project!.title" />
    </mat-card>
  </div>

  <button mat-icon-button class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>

  <button mat-button class="next-project-button" (click)="nextProject()">
    <span>Next project</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
