<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-content">
  <button class="close-button" (click)="closeModal()"></button>

  <div class="project-details">
    <div class="title">
      <span class="projectNr">01</span>
      <h2>Join</h2>
    </div>

    <div class="description">
      <h3>What is this project about?</h3>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
      <ul class="technologies">
        @for (technology of project?.technologies; track $index) {
        <li>{{ technology }}</li>
        }
      </ul>
    </div>

    <div class="linksButton">
      <button>GitHub</button>
      <button>Live Test</button>
    </div>
  </div>

  <img src="img/joinImgBig.png" alt="" />
  <button class="nextProjectButton">Next project <img src="img/arrow_forward_aqua.png" alt=""></button>
</div>
