<section id="aboutMe">
  <div class="aboutMeWrapper">
    <div class="fotoHolder">
      <img class="fotoDecoration" src="img/fotoDecoration.png" alt="" />
      <img class="foto" src="img/fotoMia2.jpeg" alt="" />
    </div>

    <div class="aboutHolder">
      <span>{{ 'ABOUT_ME.WHO_I_AM' | translate }}</span>
      <div class="aboutTextHolder">
        <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
        <p>
          {{ 'ABOUT_ME.INTRO' | translate }}
        </p>
        <div class="listContainer">
          <img src="img/locationIcon-About.png" alt="" />
          <span>
            {{ 'ABOUT_ME.FLEXIBLE' | translate }}
          </span>
        </div>
        <div class="listContainer">
          <img src="img/openMindedIcon-About.png" alt="" />
          <span>
            {{ 'ABOUT_ME.OPEN_MINDED' | translate }}
          </span>
        </div>
        <div class="listContainer">
          <img src="img/checkIcon-About.png" alt="" />
          <span>
            {{ 'ABOUT_ME.PROFESSION' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

