section {
    display: flex;
    justify-content: center;
    align-items: center;


    .aboutMeWrapper {
        width: 100%;
        max-width: 1440px;
        padding: 144px 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:1400px) {
            flex-direction: column;
            gap: 40px;
            padding: 100px 5%;
        }

        .fotoHolder {
            height: 708px;
            position: relative;

            @media(max-width:1400px) {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
            }

            @media(max-width:1400px) {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
            }

            .fotoDecoration {
                height: 568px;
                width: 568px;
                position: absolute;
                top: 20px;
                left: -10px;

                @media(max-width:1400px) {
                    display: none;
                    ;
                }
            }

            .foto {
                width: 568px;
                aspect-ratio: 1;
                position: absolute;
                left: 20px;

                @media(max-width:1400px) {
                    position: static;
                }

                @media(max-width:650px) {
                    width: 100%;
                }
            }
        }

        .aboutHolder {
            height: 708px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 24px;

            @media(max-width:1400px) {
                height: 100%;
                width: 100%;
                align-items: flex-end;
            }

            @media(max-width:650px) {
                align-items: flex-start;
                justify-content: center;
            }

            span {
                color: rgba(61, 207, 182, 1);
                font-family: 'Karla';
                font-weight: 500;
                font-size: 24px;

                @media(max-width:650px) {
                    font-size: 18px;
                }
            }

            .aboutTextHolder {
                width: 568px;
                aspect-ratio: 1;
                padding: 32px;
                background-color: rgba(61, 207, 182, 0.1);
                // backdrop-filter: blur(4px);
                border: 1px solid rgba(61, 207, 182, 1);
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media(max-width:650px) {
                    width: 100%;
                    
                }

                @media(max-width:550px) {
                    aspect-ratio: 1/1.2;
                    gap: 24px;
                    
                }

                @media(max-width:500px) {
                    aspect-ratio: 1/1.4;
                    
                }

                @media(max-width:460px) {
                    aspect-ratio: 1/1.6;
                    
                }

                h2 {
                    color: rgba(61, 207, 182, 1);
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 64px;

                    @media(max-width:650px) {
                        font-size: 56px;
                    }

                    @media(max-width:390px) {
                        font-size: 48px;
                    }

                    @media(max-width:350px) {
                        font-size: 42px;
                    }
                }

                p {
                    color: white;
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 18px;
                    text-align: justify;

                    @media(max-width:650px) {
                        font-size: 16px;
                        
                    }
                }

                .listContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 24px;

                    span {
                        color: rgba(255, 255, 255, 0.8);
                        font-family: 'Karla';
                        font-weight: 400;
                        font-size: 18px;

                        @media(max-width:650px) {
                            font-size: 16px;
                        }
                    }
                }


            }
        }

    }
}