<section>
  <div class="skillsWrapper">
        <div class="skillsLeft">
            <span>Technologies</span>

            <div class="descriptionHolder">
                <h2>Skill Set</h2>

                <div class="textWrapper">
                    <p>
                        My journey has involved working on diverse projects, employing a
                        range of frontend technologies and concepts. I am open to embracing
                        new technologies and methodologies to Continously enhance my skills
                        and stay ahead in the ever-evolving landscape of web development.
                    </p>

                    <h3>You need <span>another skill?</span></h3>

                    <span
                        >Feel free to contact me. I look forward to expanding on my previous
                        knowledge.</span
                    >
                </div>

                <button>Let's talk</button>
            </div>
        </div>
  </div>
</section>
