<section id="portfolio">
  <div class="sectionWrapper">
        <div class="linksContainer">
            <h4>Portfolio</h4>
            <h2>Featured Projects</h2>
            <p>
                Explore a selection of my work here - Interact with projects to see my
                skills in action.
            </p>

            <div class="projectsContainer">
                <div class="singleProject">
                    <h3>Join</h3>
                    <div class="projectTechnologies">
                        <p>JavaScript
                            <span>|</span>
                            HTML
                            <span>|</span>
                            CSS
                            <span>|</span>
                            Firebase
                        </p>
                    </div>  
                </div>
                <div class="singleProject">
                    <h3>El Pollo Loco</h3>
                    <div class="projectTechnologies">
                        <p>JavaScript
                            <span>|</span>
                            HTML
                            <span>|</span>
                            CSSa
                        </p>
                    </div>  
                </div>
            </div>
        </div>
  </div>
</section>
