section {
    display: flex;
    justify-content: center;
    align-items: center;

    .sectionWrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0px 96px;
        padding-bottom: 144px;
        background: radial-gradient(circle, rgba(8, 70, 59, 0.3) 20%, rgba(28, 28, 28, 1) 80%);
        background-position-x: -1000px;
        
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(max-width:1400px){
            padding: 0% 5%;
        }
        
        span {
            color: rgba(61, 207, 182, 1);
            font-family: 'Karla';
            font-weight: 700;
            font-size: 24px;

            @media(max-width:650px){
                font-size: 18px;
            }
        }

        .underWrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media(max-width:1400px){
                gap: 24px;
            }

            @media(max-width:1000px){
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }

            .skillsDescription {
                display: flex;
                flex-direction: column;
                gap: 24px;



                .descriptionHolder {
                    height: 568px;
                    width: 520px;
                    padding: 32px;
                    background-color: rgba(61, 207, 182, 0.1);
                    backdrop-filter: blur(4px);
                    border: 1px solid rgba(61, 207, 182, 1);
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    @media(max-width:1000px){
                        width: 100%;
                        height: 100%;
                        gap: 24px;
                    }

                    h2 {
                        color: rgba(61, 207, 182, 1);
                        font-family: 'Fira Code';
                        font-weight: 700;
                        font-size: 64px;

                        @media(max-width:650px){
                            font-size: 56px;
                        }

                        @media(max-width:390px){
                            font-size: 48px;
                        }
                    }

                    .textWrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 36px;

                        p {
                            color: white;
                            font-family: 'Karla';
                            font-weight: 400;
                            font-size: 18px;
                            text-align: justify;

                            @media(max-width:650px){
                                font-size: 16px;
                            }
                        }

                        h3 {
                            color: white;
                            font-family: 'Fira Code';
                            font-weight: 700;
                            font-size: 24px;

                            @media(max-width:650px){
                                font-size: 20px;
                            }

                            span {
                                color: rgba(61, 207, 182, 1);
                                font-family: 'Fira Code';
                                font-weight: 700;
                                font-size: 24px;

                                @media(max-width:650px){
                                    font-size: 20px;
                                }
                            }
                        }

                        span {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: 'Karla';
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                }
            }

            .technologiesIconsWrapper {
                width: 632px;
                display: flex;
                flex-wrap: wrap;
                gap: 70px;

                @media(max-width:1325px){
                    max-width: 100%;
                    // align-items: center;
                    justify-content: center;
                }

                @media(max-width:1000px){
                    width: 100%;
                    // align-items: center;
                    // justify-content: flex-start;
                    
                }

                @media(max-width:1000px){
                    width: 100%;
                    // align-items: center;
                    // justify-content: flex-start;
                    
                }

                .iconContainer {
                    width: 104px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    @media(max-width:330px){
                        width: 80px;
                    }

                    span {
                        color: white;
                        font-family: 'Fira Code';
                        font-weight: 400;
                        font-size: 18px;

                        @media(max-width:650px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }


    }
}