<section id="skills">
  <div class="sectionWrapper">
        <span>Technologies</span>
        <div class="underWrapper">
            <div class="skillsDescription">
            

                <div class="descriptionHolder">
                    <h2>Skill Set</h2>
    
                    <div class="textWrapper">
                        <p>
                            My journey has involved working on diverse projects, employing a
                            range of frontend technologies and concepts. I am open to embracing
                            new technologies and methodologies to continously enhance my skills
                            and stay ahead in the ever-evolving landscape of web development.
                        </p>
    
                        <h3>You need <span>another skill?</span></h3>
    
                        <span
                            >Feel free to contact me. I look forward to expanding on my previous
                            knowledge.</span
                        >
                    </div>
    
                    <button (click)="scrollToSection('contactMe')"><div>Let's talk</div></button>
                </div>
    
                
            </div>
    
            <div class="technologiesIconsWrapper">
                <div class="iconContainer">
                    <img src="img/htmlIcon.png" alt="">
                    <span>HTML</span>
                </div>
                <div class="iconContainer">
                    <img src="img/cssIcon.png" alt="">
                    <span>CSS</span>
                </div>
                <div class="iconContainer">
                    <img src="img/jsIcon.png" alt="">
                    <span>JavaScript</span>
                </div>
                <div class="iconContainer">
                    <img src="img/tsIcon.png" alt="">
                    <span>TypeScript</span>
                </div>
                <div class="iconContainer">
                    <img src="img/angularIcon.png" alt="">
                    <span>Angular</span>
                </div>
                <div class="iconContainer">
                    <img src="img/firebaseIcon.png" alt="">
                    <span>Firebase</span>
                </div>
                <div class="iconContainer">
                    <img src="img/gitIcon.png" alt="">
                    <span>GIT</span>
                </div>
                <div class="iconContainer">
                    <img src="img/apiIcon.png" alt="">
                    <span>Rest-Api</span>
                </div>
                <div class="iconContainer">
                    <img src="img/scrumIcon.png" alt="">
                    <span>Scrum</span>
                </div>
                <div class="iconContainer">
                    <img src="img/mindsetIcon.png" alt="">
                    <span>Growth mindset</span>
                </div>
            </div>
        </div>
        
  </div>
</section>
