<section id="skills">
  <div class="sectionWrapper">
        <span>{{ 'SKILLS.TECHNOLOGIES' | translate }}</span>
        <div class="underWrapper">
            <div class="skillsDescription">
            

                <div class="descriptionHolder">
                    <h2>{{ 'SKILLS.TITLE' | translate }}</h2>
    
                    <div class="textWrapper">
                        <p>
                            {{ 'SKILLS.INTRO' | translate }}
                        </p>
    
                        <h3>{{ 'SKILLS.NEED' | translate }}<span> {{ 'SKILLS.ANOTHER_SKILL' | translate }}</span></h3>
    
                        <span
                            >{{ 'SKILLS.CONTACT' | translate }}</span
                        >
                    </div>
    
                    <button (click)="scrollToSection('contactMe')"><div>{{ 'SKILLS.LET_TALK' | translate }}</div></button>
                </div>
    
                
            </div>
    
            <div class="technologiesIconsWrapper">
                <div class="iconContainer">
                    <img src="img/htmlIcon.png" alt="">
                    <span>HTML</span>
                </div>
                <div class="iconContainer">
                    <img src="img/cssIcon.png" alt="">
                    <span>CSS</span>
                </div>
                <div class="iconContainer">
                    <img src="img/jsIcon.png" alt="">
                    <span>JavaScript</span>
                </div>
                <div class="iconContainer">
                    <img src="img/tsIcon.png" alt="">
                    <span>TypeScript</span>
                </div>
                <div class="iconContainer">
                    <img src="img/angularIcon.png" alt="">
                    <span>Angular</span>
                </div>
                <div class="iconContainer">
                    <img src="img/firebaseIcon.png" alt="">
                    <span>Firebase</span>
                </div>
                <div class="iconContainer">
                    <img src="img/gitIcon.png" alt="">
                    <span>GIT</span>
                </div>
                <div class="iconContainer">
                    <img src="img/apiIcon.png" alt="">
                    <span>Rest-Api</span>
                </div>
                <div class="iconContainer">
                    <img src="img/scrumIcon.png" alt="">
                    <span>Scrum</span>
                </div>
                <div class="iconContainer growthMindset">
                    <div class="speechBubble">
                        <span>I have a special interest in learning</span>
                        <div class="interestIcons">
                            <img src="img/pythonIconAcqua.png" alt="">
                            <span class="interestName">Python</span>
                        </div>
                        <img class="vector" src="img/speechBubbleVector.png" alt="">
                    </div>
                    <img src="img/mindsetIcon.png" alt="">
                    <span>Growth mindset</span>
                </div>
            </div>
        </div>
        
  </div>
</section>
