<section>
  <div class="wrapper">
    <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
    <h2>{{ 'PRIVACY_POLICY.SECTION_1_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.GENERAL_INFO.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.DATA_COLLECTION.TITLE' | translate }}</h3>
    <h4>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.RESPONSIBLE_PERSON.TITLE' | translate }}
    </h4>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.RESPONSIBLE_PERSON.DESCRIPTION' | translate }}
    </p>
    <h4>{{ 'PRIVACY_POLICY.DATA_COLLECTION.HOW_WE_COLLECT.TITLE' | translate }}</h4>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.HOW_WE_COLLECT.DESCRIPTION_1' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.HOW_WE_COLLECT.DESCRIPTION_2' | translate }}
    </p>
    <h4>{{ 'PRIVACY_POLICY.DATA_COLLECTION.USAGE_OF_DATA.TITLE' | translate }}</h4>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.USAGE_OF_DATA.DESCRIPTION' | translate }}
    </p>
    <h4>{{ 'PRIVACY_POLICY.DATA_COLLECTION.YOUR_RIGHTS.TITLE' | translate }}</h4>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.YOUR_RIGHTS.DESCRIPTION' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.DATA_COLLECTION.YOUR_RIGHTS.CONTACT_INFO' | translate }}
    </p>
    <h2>2. Hosting</h2>
    <p>{{ 'PRIVACY_POLICY.HOSTING_PROVIDER.DESCRIPTION' | translate }}</p>
    <h3>All-Inkl</h3>
    <p>
      {{ 'PRIVACY_POLICY.HOSTING_PROVIDER.ALL_INKL.DESCRIPTION' | translate }}
      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
    <p>
      {{ 'PRIVACY_POLICY.HOSTING_PROVIDER.LEGAL_BASIS' | translate }}
    </p>

    <h4>{{ 'PRIVACY_POLICY.DATA_PROCESSING.TITLE' | translate }}</h4>
    <p>
      {{ 'PRIVACY_POLICY.DATA_PROCESSING.DESCRIPTION' | translate }}
    </p>
    <h2>{{ 'PRIVACY_POLICY.SECTION_3_TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY.DATA_PROTECTION.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.DATA_PROTECTION.DESCRIPTION_1' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.DATA_PROTECTION.DESCRIPTION_2' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.DATA_PROTECTION.SECURITY_NOTICE' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_RESPONSIBLE_PARTY.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RESPONSIBLE_PARTY.DESCRIPTION' | translate }}
    </p>
    <p>
      Marco Lapiello<br />
      Hohenaustraße 4<br />
      77815 Bühl, Deutschland
    </p>

    <p>
      Telefon: +49 (0) 174 65 02 529<br />
      E-Mail: info&#64;marco-lapiello-developer.com
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RESPONSIBLE_PARTY.RESPONSIBLE_NOTE' | translate }}
    </p>

    <h3>{{ 'PRIVACY_POLICY.SECTION_STORAGE_DURATION.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_STORAGE_DURATION.DESCRIPTION' | translate }}
    </p>
    <h3>
      {{ 'PRIVACY_POLICY.SECTION_LEGAL_BASIS.TITLE' | translate }}
    </h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_LEGAL_BASIS.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_DATA_RECIPIENTS.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_RECIPIENTS.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_WITHDRAWAL_CONSENT.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_WITHDRAWAL_CONSENT.DESCRIPTION' | translate }}
    </p>
    <h3>
      {{ 'PRIVACY_POLICY.SECTION_RIGHT_TO_OBJECT.TITLE' | translate }}
    </h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RIGHT_TO_OBJECT.DESCRIPTION_1' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RIGHT_TO_OBJECT.DESCRIPTION_2' | translate }}
    </p>
    <h3>
      {{ 'PRIVACY_POLICY.SECTION_COMPLAINT_RIGHT.TITLE' | translate }}
    </h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_COMPLAINT_RIGHT.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_DATA_PORTABILITY.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_PORTABILITY.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_ACCESS_CORRECTION_DELETION.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_ACCESS_CORRECTION_DELETION.DESCRIPTION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.DESCRIPTION' | translate }}
    </p>
    <ul>
      <li>
        {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.CASES.CASE_1' | translate }}
      </li>
      <li>
        {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.CASES.CASE_2' | translate }}
      </li>
      <li>
        {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.CASES.CASE_3' | translate }}
      </li>
      <li>
        {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.CASES.CASE_4' | translate }}
      </li>
    </ul>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_RESTRICTION_PROCESSING.NOTE' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_SSL_TLS_ENCRYPTION.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_SSL_TLS_ENCRYPTION.DESCRIPTION' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_SSL_TLS_ENCRYPTION.NOTE' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_ADVERTISING_OBJECTION.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_ADVERTISING_OBJECTION.DESCRIPTION' | translate }}
    </p>
    <h2>{{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.CONTACT_FORM.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.CONTACT_FORM.DESCRIPTION' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.CONTACT_FORM.LEGAL_BASIS' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.CONTACT_FORM.STORAGE_DURATION' | translate }}
    </p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.EMAIL_PHONE_FAX.TITLE' | translate }}</h3>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.EMAIL_PHONE_FAX.DESCRIPTION' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.EMAIL_PHONE_FAX.LEGAL_BASIS' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_DATA_COLLECTION.EMAIL_PHONE_FAX.STORAGE_DURATION' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SECTION_SOURCE.TITLE' | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
    <button [routerLink]="['']">{{ 'PRIVACY_POLICY.BUTTON_BACK_HOME' | translate }}</button>
  </div>
</section>
