<section>
  <div class="wrapper">
    <h2>{{ 'IMPRINT.TITLE' | translate }}</h2>

    <p>
      <span>Marco Lapiello</span>
      <span>Hohenaustra&szlig;e 4</span>
      <span>77815 Bühl, Deutschland</span>
    </p>

    <h3>{{ 'IMPRINT.CONTACT' | translate }}</h3>
    <p>
      <span>{{ 'IMPRINT.PHONE' | translate }}:</span>
      <span>+49 (0) 174 65 02 529</span>
    </p>
    <p>
      <span>E-Mail:</span>
      <span class="mailLink" (click)="sendEmail()"
        >hello&#64;marco-lapiello-developer.com</span
      >
    </p>

    <p>{{ 'IMPRINT.SOURCE' | translate }}: <a href="https://www.e-recht24.de">e-recht24.de</a></p>

    <button [routerLink]="['']" (click)="scrollToSection('header')">{{ 'IMPRINT.BACK' | translate }}</button>
  </div>
</section>
