<section>
  <div class="wrapper">
    <div class="titleAndQuotes">
      <h3>{{ 'REFERENCES.TITLE' | translate }}</h3>
      
    </div>
    
    <div class="scrollContainer" #scrollContainer (scroll)="updateActiveIndexOnManualScroll()">
      @for (singleReference of references; track $index; let referenceIndex = $index) {
      <div class="singleReference"  #singleReference [class.active]="referenceIndex === activeIndex">
        @if (currentLanguage === "en") {
          <p>{{ singleReference.en }}</p>
        } @else {
          <p>{{ singleReference.de }}</p>
        }
        
        <div class="authorName">
          <div class="vector"></div>
          <span>{{ singleReference.author }}</span>
        </div>
        
      </div>
      }
    </div>
    <div class="arrowsContainer">
      <img class="quotes" src="img/quotes.png" alt="" />
      <div class="leftArrow" (click)="previousReference()"></div>

      <div class="dotsContainer">
        @for (singleReference of references; track $index; let referenceIndex = $index) {
        <div class="dot" [class.activeDot]="referenceIndex === activeIndex"></div>
        }
      </div>

      <div class="rightArrow" (click)="nextReference()"></div>
    </div>
  </div>
</section>
