<div class="modal-overlay" (click)="closeModal()"></div>
<nav>
  <a (click)="closeModal()" href="#aboutMe"
    ><div class="dot"></div>
    {{ 'NAV.ABOUT_ME' | translate }}</a
  >
  <a (click)="closeModal()" href="#skills"
    ><div class="dot"></div>
    {{ 'NAV.SKILLS' | translate }}</a
  >
  <a (click)="closeModal()" href="#portfolio"
    ><div class="dot"></div>
    {{ 'NAV.PROJECTS' | translate }}</a
  >
  <div
    [ngClass]="
      currentLanguage === 'en' ? 'switchLanguageDefault' : 'switchLanguageGerman'
    "
    (click)="switchLanguage()"
  ></div>
</nav>
