<section id="portfolio">
  <div class="sectionWrapper">
    <div class="linksContainer">
      <h4>{{ 'PORTFOLIO.TITLE' | translate }}</h4>
      <h2>{{ 'PORTFOLIO.FEATURED_PROJECTS' | translate }}</h2>
      <p>
        {{ 'PORTFOLIO.DESCRIPTION' | translate }}
      </p>
      @if (showModal === true) {
        <app-modal [allProjects]="projects" [project]="selectedProject" [projectId]="selectedProjectId" (close)="closeModal()"></app-modal>
      }
      
      <div class="projectsContainer">
        @for (singleProject of projects; track $index) {
          <div class="singleProject" (click)="openModal(singleProject, $index)">
            <h3>{{ singleProject.title }} <img src="img/arrow_forward_white.png" alt=""></h3>
            <div class="projectTechnologies">
              <p>
                @for (technology of singleProject.technologies; track $index) {
                  {{ technology }}
                  @if ($index < singleProject.technologies.length - 1) {
                    <span>|</span>
                  }
                }
              </p>
            </div>
            <div [class]="singleProject.imgStyleClass">
              <img class="projectImg" [src]="singleProject.imgPath" alt="" />
              <img
                class="projectImgBackground"
                src="img/projectImgBackground.png"
                alt=""
              />
            </div>
          </div>
        }
      </div>

    </div>
  </div>
</section>
