section {
    display: flex;
    justify-content: center;
    align-items: center;

    .sectionWrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0px 96px;
        padding-bottom: 16px;

        @media(max-width:1400px){
            padding: 0% 5%;
        }

        .linksContainer {
            display: flex;
            flex-direction: column;
            gap: 41px;

            h4 {
                color: rgba(61, 207, 182, 1);
                font-family: 'Karla';
                font-weight: 700;
                font-size: 24px;

                @media(max-width:650px){
                    font-size: 18px;
                }
            }

            h2 {
                color: rgba(61, 207, 182, 1);
                font-family: 'Fira Code';
                font-weight: 700;
                font-size: 64px;

                @media(max-width:650px){
                    font-size: 56px;
                }
            }

            p {
                width: 456px;
                color: white;
                font-family: 'Karla';
                font-weight: 400;
                font-size: 18px;

                @media(max-width:650px){
                    width: 100%;
                    font-size: 16px;
                }
            }

            .projectsContainer {
                width: 880px;
                border-bottom: 1px solid rgba(61, 207, 182, 1);

                @media(max-width:1400px){
                    width: 100%;
                }


                .singleProject {
                    border-top: 1px solid rgba(61, 207, 182, 1);
                    padding: 40px 32px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    transition: all 150ms ease-in;

                    @media(max-width:850px){
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        padding: 32px 0px;
                    }

                    @media(hover: hover){
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(61, 207, 182, 0.3);
    
                            h3 > img{
                                opacity: 1;
                            }
                        }
    
                        @media(min-width:1400px){
                            &:first-child:hover {
                                .projectImgTop {
                                    display: block;
                                    opacity: 1;
                                }
                            }
        
                            &:last-child:hover {
                                .projectImgBottom {
                                    display: block;
                                    opacity: 1;
                                }
                            }
        
                            &:not(:first-child):not(:last-child):hover {
                                .projectImgMiddle {
                                    display: block;
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    

                    

                    h3 {
                        color: white;
                        font-family: 'Fira Code';
                        font-weight: 700;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        position: relative;

                        img {
                            rotate: 315deg;
                            opacity: 0;
                            transition: all 150ms ease-in;
                        }
                    }

                    .projectTechnologies {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: right;

                        @media(max-width:850px){
                            text-align: left;
                        }

                        span {
                            color: rgba(61, 207, 182, 1);
                            font-family: 'Karla';
                            font-weight: 400;
                            font-size: 18px;
                        }
                    }

                    .projectImgTop {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: calc(100% + 72px);
                        opacity: 0;
                        transition: all 150ms ease-in;
                    }

                    .projectImgBottom {
                        display: none;
                        position: absolute;
                        bottom: -4px;
                        left: calc(100% + 72px);
                        opacity: 0;
                        transition: all 150ms ease-in;
                    }

                    .projectImgMiddle {
                        display: none;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: calc(100% + 72px);
                        opacity: 0;
                        transition: all 150ms ease-in;
                    }

                    .projectImgBackground {
                        z-index: -1;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                    }
                }

            }
        }


    }
}